@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.1fr 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header"
    "Sidebar Main";
  text-align: center;
  min-height: 100vh;
}

.Header {
  grid-area: Header;
  display: flex;
  align-items: center;
  /* background-color: #2d5ca7; */
  background-color: #2b7bd4;
  /* justify-content: center; */
}

.Main {
  grid-area: Main;
  flex: flex;
  align-items: center;
}

.Sidebar {
  grid-area: Sidebar;
  display: flex;
  justify-content: center;
}

.sideScroll {
  height: 89vh;
}

.container {
  width: 100%;
}

.chartWrapper {
  position: relative;
 }
 
 .chartWrapper > canvas {
   position: absolute;
   left: 0;
   top: 0;
   pointer-events: none;
 }
 
 .chartAreaWrapper {
   width: 600px;
   overflow-x: scroll;
 }