.grid-container {
  background: rgb(233,205,220);
  background: radial-gradient(circle, rgba(233,205,220,1) 0%, rgba(218,229,240,1) 100%);
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.4fr 1.6fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "sidebar main";
}
.header { 
  border: 1px solid;
  grid-area: header;
  text-align: center;
}
.sidebar { 
  border: 1px solid;
  grid-area: sidebar; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main { 
  grid-area: main;
  border: 1px solid;
}
.container {
  border: 1px solid;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}